In [15]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/doraamoako/opt/anaconda3/lib/python3.8/site-packages (3.11.4)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
from datetime import datetime as dt
import os
import datetime as dt
import numpy as np
import pymongo

In [17]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [18]:
db = client.Project2_Data
collection = db.pah_wikp_combo

In [19]:
data = pd.DataFrame(list(collection.find()))
data.head()

,_id,Date,City,State,School,Fatalities,Wounded,Source,Desc,AreaType,Dupe
0,60b6752c53b349320143d2dc,3/27/1990,Brooklyn,New York,C,0,1,Wikp,A black youth was taunted with racial slurs by...,NaN,NaN
1,60b6752c53b349320143d2dd,5/20/1990,Centerville,Tennessee,HS,1,NaN,Pah,NaN,suburban,NaN
2,60b6752c53b349320143d2de,8/26/1990,Las Vegas,Nevada,HS,1,NaN,Pah,NaN,urban,NaN
3,60b6752c53b349320143d2df,9/11/1990,San Antonio,Texas,HS,0,3,Wikp,3 students were wounded when gunfire broke out...,NaN,NaN
4,60b6752c53b349320143d2e0,1/8/1991,Richardson,Texas,HS,0,NaN,Pah,NaN,urban,NaN

In [20]:
data.State.unique()

array(['New York', 'Tennessee', 'Nevada', 'Texas', 'California', 'Iowa',
       'Ohio', 'Nebraska', 'Arizona', 'Michigan', 'Illinois', 'Alabama',
       'Massachusetts', 'Pennsylvania', 'Florida', 'Kentucky',
       'Washington', 'Georgia', 'Minnesota', 'District of Columbia',
       'Missouri', 'North Carolina', 'Louisiana', 'Utah', 'Wyoming',
       'Delaware', 'Connecticut', 'Mississippi', 'Wisconsin',
       'South Carolina', 'Montana', 'Kansas', 'D.C.', 'Arkansas',
       'Indiana', 'Oklahoma', 'Alaska', 'Oregon', 'Virginia', 'Idaho',
       'Colorado', 'New Mexico', 'Maryland', 'New Jersey',
       'District Of Columbia', 'Virgin Islands', 'Vermont',
       'West Virginia', 'Maine', 'Hawaii', 'New Hampshire',
       'South Dakota', 'IA', 'Rhode Island'], dtype=object)

In [21]:
data['State'] = data['State']. replace(['IA','D.C.'],['Iowa','District of Columbia'])

In [22]:
data.drop(data.index[(data["State"] == "Virgin Islands")],axis=0,inplace=True)

In [23]:
data.State.unique()

array(['New York', 'Tennessee', 'Nevada', 'Texas', 'California', 'Iowa',
       'Ohio', 'Nebraska', 'Arizona', 'Michigan', 'Illinois', 'Alabama',
       'Massachusetts', 'Pennsylvania', 'Florida', 'Kentucky',
       'Washington', 'Georgia', 'Minnesota', 'District of Columbia',
       'Missouri', 'North Carolina', 'Louisiana', 'Utah', 'Wyoming',
       'Delaware', 'Connecticut', 'Mississippi', 'Wisconsin',
       'South Carolina', 'Montana', 'Kansas', 'Arkansas', 'Indiana',
       'Oklahoma', 'Alaska', 'Oregon', 'Virginia', 'Idaho', 'Colorado',
       'New Mexico', 'Maryland', 'New Jersey', 'District Of Columbia',
       'Vermont', 'West Virginia', 'Maine', 'Hawaii', 'New Hampshire',
       'South Dakota', 'Rhode Island'], dtype=object)

In [24]:
data.State.nunique()

51

In [25]:
del data['Source']
del data['Dupe']
del data['_id']

In [26]:
data

,Date,City,State,School,Fatalities,Wounded,Desc,AreaType
0,3/27/1990,Brooklyn,New York,C,0,1,A black youth was taunted with racial slurs by...,NaN
1,5/20/1990,Centerville,Tennessee,HS,1,NaN,NaN,suburban
2,8/26/1990,Las Vegas,Nevada,HS,1,NaN,NaN,urban
3,9/11/1990,San Antonio,Texas,HS,0,3,3 students were wounded when gunfire broke out...,NaN
4,1/8/1991,Richardson,Texas,HS,0,NaN,NaN,urban
...,...,...,...,...,...,...,...,...
696,2/26/2021,New Orleans,Louisiana,HS,1,0,A New Orleans Police officer was shot and kill...,NaN
697,3/1/2021,Pine Bluff,Arkansas,MS,1,0,A 15-year-old student was killed in a targeted...,NaN
698,4/12/2021,Knoxville,Tennessee,HS,1,1,A student armed with a handgun was shot and ki...,NaN
699,4/26/2021,Plymouth,Minnesota,MS,0,0,An unidentified 6th-grade student fired severa...,NaN
700,5/6/2021,Rigby,Idaho,MS,0,3,Two students and one custodian were shot and w...,NaN

In [27]:
data['School'] = data['School'].replace(['C'],'College')
data['School'] = data['School'].replace(['HS'],'High School')
data['School'] = data['School'].replace(['MS'],'Middle School')
data['School'] = data['School'].replace(['ES'],'Elementary School')
#df = df.rename(columns = {'Date':'Year'})
#df['year'] = pd.DatetimeIndex(df['Year']).year
#del df['Year']
#df = df.rename(columns = {'year':'Year'})

In [28]:
data

,Date,City,State,School,Fatalities,Wounded,Desc,AreaType
0,3/27/1990,Brooklyn,New York,College,0,1,A black youth was taunted with racial slurs by...,NaN
1,5/20/1990,Centerville,Tennessee,High School,1,NaN,NaN,suburban
2,8/26/1990,Las Vegas,Nevada,High School,1,NaN,NaN,urban
3,9/11/1990,San Antonio,Texas,High School,0,3,3 students were wounded when gunfire broke out...,NaN
4,1/8/1991,Richardson,Texas,High School,0,NaN,NaN,urban
...,...,...,...,...,...,...,...,...
696,2/26/2021,New Orleans,Louisiana,High School,1,0,A New Orleans Police officer was shot and kill...,NaN
697,3/1/2021,Pine Bluff,Arkansas,Middle School,1,0,A 15-year-old student was killed in a targeted...,NaN
698,4/12/2021,Knoxville,Tennessee,High School,1,1,A student armed with a handgun was shot and ki...,NaN
699,4/26/2021,Plymouth,Minnesota,Middle School,0,0,An unidentified 6th-grade student fired severa...,NaN
700,5/6/2021,Rigby,Idaho,Middle School,0,3,Two students and one custodian were shot and w...,NaN

In [29]:
dataclean_1 = data.fillna("0")
dataclean_1

,Date,City,State,School,Fatalities,Wounded,Desc,AreaType
0,3/27/1990,Brooklyn,New York,College,0,1,A black youth was taunted with racial slurs by...,0
1,5/20/1990,Centerville,Tennessee,High School,1,0,0,suburban
2,8/26/1990,Las Vegas,Nevada,High School,1,0,0,urban
3,9/11/1990,San Antonio,Texas,High School,0,3,3 students were wounded when gunfire broke out...,0
4,1/8/1991,Richardson,Texas,High School,0,0,0,urban
...,...,...,...,...,...,...,...,...
696,2/26/2021,New Orleans,Louisiana,High School,1,0,A New Orleans Police officer was shot and kill...,0
697,3/1/2021,Pine Bluff,Arkansas,Middle School,1,0,A 15-year-old student was killed in a targeted...,0
698,4/12/2021,Knoxville,Tennessee,High School,1,1,A student armed with a handgun was shot and ki...,0
699,4/26/2021,Plymouth,Minnesota,Middle School,0,0,An unidentified 6th-grade student fired severa...,0
700,5/6/2021,Rigby,Idaho,Middle School,0,3,Two students and one custodian were shot and w...,0

In [30]:
dataclean_1.to_csv("overalldata_cleaned.csv", index=False, header=True)

In [ ]:
college = ['College']
heatmap_college = dfclean_1.loc[df['School'].isin(college)]
heatmap_college

In [ ]:
collegeperstate = heatmap_college['State'].value_counts()
collegeperstate

In [ ]:
college_df = pd.DataFrame({"College Number of Shootings": collegeperstate})
college_df.index.name = 'State'
college_df

In [ ]:
highschool = ['High School']
heatmap_hs = dfclean_1.loc[df['School'].isin(highschool)]
heatmap_hs

In [ ]:
highschoolperstate = heatmap_hs['State'].value_counts()
highschoolperstate

In [ ]:
highschool_df = pd.DataFrame({"High School Number of Shootings": highschoolperstate})
highschool_df.index.name = 'State'
highschool_df

In [ ]:
middleschool = ['Middle School']
heatmap_ms = dfclean_1.loc[df['School'].isin(middleschool)]
heatmap_ms

In [ ]:
middleschoolperstate = heatmap_ms['State'].value_counts()
middleschoolperstate

In [ ]:
middleschool_df = pd.DataFrame({"Middle School Number of Shootings": middleschoolperstate})
middleschool_df.index.name = 'State'
middleschool_df

In [ ]:
elementaryschool = ['Elementary School']
heatmap_es = dfclean_1.loc[df['School'].isin(elementaryschool)]
heatmap_es

In [ ]:
elementaryschoolperstate = heatmap_es['State'].value_counts()
elementaryschoolperstate

In [ ]:
elementaryschool_df = pd.DataFrame({"Elementary School Number of Shootings": elementaryschoolperstate})
elementaryschool_df.index.name = 'State'
elementaryschool_df

In [ ]:
chs_merge = college_df.merge(highschool_df, on='State', how='left')
chs_merge

In [ ]:
chsms_merge = chs_merge.merge(middleschool_df, on='State', how='left')
chsms_merge

In [ ]:
heatmap_schools = chsms_merge.merge(elementaryschool_df, on='State', how='left')
heatmap_schools

In [ ]:
heatmap_schools_1 = heatmap_schools.fillna("No Info")
heatmap_schools_1

In [ ]:
heatmap_schools_1.to_csv("heatmapschools_frequencyofshootings.csv", index=True, header=True)

In [ ]:
dfclean_1['Year'] = pd.DatetimeIndex(dfclean_1['Date']).year
dfclean_1

In [ ]:
organized_heatmapcasualties = dfclean_1[["Date","Year","City","State","AreaType","School","Fatalities","Wounded","Desc"]]
organized_heatmapcasualties.head()

In [ ]:
del organized_heatmapcasualties['Year']
del organized_heatmapcasualties['AreaType']
del organized_heatmapcasualties['School']
del organized_heatmapcasualties['Desc']
organized_heatmapcasualties

In [ ]:
organized_heatmapcasualties.to_csv("heatmap_casualties.csv", index=False, header=True)

In [ ]:
shootingsperyear = dfclean_1['Year'].value_counts()
shootingsperyear

In [ ]:
totalshootingsperyear_df = pd.DataFrame({"Number of Shootings": shootingsperyear})
totalshootingsperyear_df.index.name = 'Year'
totalshootingsperyear_df

In [ ]:
formatted_df = totalshootingsperyear_df.index.name.dt.strftime("%y")